# ==========================================================
# ENTORNOS VIRTUALES
# ==========================================================

venv/
**/venv/

# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# CACHES
# ==========================================================

.pytest_cache/
.mypy_cache/
.cache/

# ==========================================================
# JUPYTER
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# VISUAL STUDIO CODE
# ==========================================================

.vscode/

# ==========================================================
# SISTEMA OPERATIVO
# ==========================================================

Thumbs.db
.DS_Store
desktop.ini

# ==========================================================
# LOGS
# ==========================================================

*.log

# ==========================================================
# REPORTES GENERADOS
# ==========================================================

ML-training/reports/
ML-training/results/

# ==========================================================
# ARCHIVOS TEMPORALES
# ==========================================================

*.tmp
*.temp

# ==========================================================
# NO IGNORAR
# ==========================================================

!backend-api/models/
!ML-training/models/
!ML-training/data/